node_modules/



 let numberOfLine = 1

function increaseLineNumber () {
    numberOfLine = numberOfLine + 3
    
}

console.log("Line", numberOfLine)

increaseLineNumber();
console.log("Line", numberOfLine)

increaseLineNumber();

console.log("Line", numberOfLine)

increaseLineNumber();

console.log("Line", numberOfLine) 
 
